# Eclipse specific files
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.localhistory/
.loadpath
.project
.settings/
.springBeans

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code specific files
.vscode/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux specific files
*~

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


# Gradle specific files
.gradle/
build/
!gradle-wrapper.jar

# Log files
*.log

# Temporary files
*.class
*.war
*.ear

# Spring Boot specific files
.spring_boot_devtools/

# STS (Spring Tool Suite) specific files
.springBeans

# AWS Elastic Beanstalk specific files
.elasticbeanstalk/

# Heroku specific files
Procfile

# IDEA specific files
*.ipr
*.iml
*.iws

# Python virtual environment
venv/
__pycache__/

# Custom rule for ignoring secrets
secrets/

# Exclude any files ending in .local
*.local

# Other files to ignore
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
